# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
